body  {
    background: #f1f1f1;
	cursor: text;
}
#test{
    width:100%;
    overflow: hidden;
}
#left {
    float:left;
    width:50%;
}
#right {
    float:left;

    border-left: 1px solid #808080;
    height: 100%;
    padding: 10px 7px;
}
.btn-run {
    line-height: 16px;
    position: absolute;
    top: 8px;
}

.CodeMirror  {
    width: 100%;
    height: 200px;
    float: left;
    color: #333;
    margin: 0;
    padding: 0;
	cursor: text;
    font-size: 13px;
    white-space: pre-line;
    border: 1px solid #999;
    font-family: 'Courier New',  Courier;
}
#preview  {
    width: 100%;
    height: 700px;
    float: left;
    background: #fff;
    border: 1px solid #999;
}
@media screen and (max-width: 900px){
    .tabel-coding{
        width:100%;
    }
}
.reload  {
	float: right;
    background-color: #2d87ef;
}
.colors  {
    background-color: #00007F;
}
.uncss {
	background-color: #AE0C0C;
}
.doc {
	background-color: #090;
}
